[flake8]
# Using pylint for length detection since it can ignore import lines
max-line-length-2000

ignore=
    # "First line should be in imperative mood", annoying/buggy
    D401,
    # Ignore constructor docustrings, doc on class instead
    D107,
    # Don't require usually-hidden magic method docs
    D105,
    # Docstrings not strictly required in __init__.py files
    D104,
